  
.container-fluid.menu-khach-hang {
  background-color: #0000006e;
  height: 100px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a.menu-khach-hang1 {
  color: white;
  font-size: 17px;
}

img.logo {
  width: 70px;
  border-radius: 50px;
}

.menu-khach-hang2 {
  margin-top: 26px;
}

a.menu-khach-hang1 {
  font-size: 18px;
}

.nav>li>a.menu-khach-hang1:hover {
  background-color: unset;
  color: #0D47A1;
}

.view-khach-hang1 {
  max-width: 500px;
}

.header-menu{
  position: sticky;
  top: 0;
}

.header-menu.active{
  z-index: 9;
  width: 100%;

}

.container-fluid.menu-khach-hang.active{
  height: 100px;
  background-color: #000000d6;
  -webkit-box-shadow: 1px 6px 9px 4px rgba(0,0,0,0.31);
  -moz-box-shadow: 1px 6px 9px 4px rgba(0,0,0,0.31);
  box-shadow: 1px 6px 9px 4px rgba(0,0,0,0.31);
  transition: all 0.4s ease-in-out;
}